<!DOCTYPE html>
<html>

<head>
    <title>Lizzyz Business</title>
</head>

<body>
    <h1>Lizzyz Business</h1>
    {{#each files}}
    <p>{{this}}</p>
   <pre> <p><a href="/download/{{this}}" download="{{this}}">Download</a>   <a href="/preview/{{this}}" target="_blank">Preview</a> </p>  </pre>
     <form action="/sendfile" method="POST" enctype="multipart/form-data" >
        <input type="email" id="emailInput" placeholder="Enter email" required>
        <input type="hidden" id="filename" value="{{this}}">
        <input type="submit" onsubmit="sendEmail('{{this}}')" value="Send File">
      </form>
    {{/each}}




    {{!-- <script>
    document.getElementById("email-form").addEventListener("submit", function(event) {
      event.preventDefault() // Prevent the form from submitting

      var email = document.getElementById("email").value
      var filename = document.getElementById("filename").value

      

      // Create a data object with the form values
      var data = {
        email: email,
        filename: filename
      }

      // Make an AJAX request to the login endpoint
      var xhr = new XMLHttpRequest()
      xhr.open("POST", "/sendfile", true)
      xhr.setRequestHeader("Content-Type", "application/json")
      xhr.setRequestHeader("Authorization", "Bearer " +req.session.token)
      xhr.onreadystatechange = function() {
        if (xhr.readyState === 4) {
          if (xhr.status === 200) {
              alert('Email sent successfully!')
           
          } else {
           
             alert('Error sending email!')
          }
        }
      }
      xhr.send(JSON.stringify(data))
    })
  </script> --}}

    <script>
    function sendEmail(file) {
      var emailInput = document.getElementById('emailInput')
      var email = emailInput.value

      fetch('http://localhost:300/sendfile', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          {{!-- 'Authorization': 'Bearer '+token --}}
        },
        body: JSON.stringify({
          email: email,
          filename: file
          
        })
      })
      .then(response => {
        if (response.ok) {
          console.log('Email sent successfully:', response.statusText)
          // Handle success response
          alert('Email sent successfully!');
        } else {
          console.error('Error sending email:', response.statusText)
          // Handle error response
          alert('Error sending email!');
        }
      })
      .catch(error => {
        console.error('Error sending email:', error)
        // Handle error response
        alert('Error sending email!');
      })
    }
  </script>
</body>

</html>






